// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #afc3ce;
$gray-med: #656e7f;
$gray-dark: #3f454f;
$gray-light: #e4ebef;
$blue: #29CAEF;
$pink: #EF84AB;
$green: #93CE5F;
$white: #FFF;
$red: #E05753;

body {
	padding-top: 60px;
	font-family: 'Dosis', sans-serif;
	color: $gray;
	background: $gray-light;
}

.navbar-default{
	box-shadow: none;
	-webkit-box-shadow:none;
	border: none;
	background: $gray-med;
	.navbar-brand{
		text-shadow: none;
		color: $gray-light;
		&:hover{
			color: $gray-light;
		}
	}
	.btn-success{
		box-shadow: none;
		border: none;
		background: $green;
		text-shadow: none;
		float: right;
		font-weight: bold;
		letter-spacing: 1px;
		font-size: 1em;
		text-transform: uppercase;
		&:hover{
			background: darken($green, 10);
		}
	}
}

.entry{
	background: $white;
	padding: 20px 25px;
	margin-bottom: 10px;
	border-radius: 5px;

	.time{
		color: $blue;
		font-weight: 700;
		margin-bottom: 5px;
		font-size: 1.2em;
		display: inline-block;
	}
	.food{
		color: $gray-dark;
		font-size: 1.6em;
		font-weight: 700;
		border-bottom: solid 2px $pink;
		padding-bottom: 5px;
	}
	.situation{
		font-size: 1.3em;
		margin: 10px 0;
	}
	.edit{
		a{
			color: $gray-light;
			text-transform: uppercase;
			padding: 0 10px;
			border-left: solid 2px $gray-light;
			font-weight: bold;
			&:first-of-type{
				border-left: none;
			}
			&:last-of-type{
				padding-right: 0px;
			}
		}
		display: inline-block;
		float: right;
	}
}

.date{
	background: $blue;
	padding: 10px 20px;
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px;
	margin: 20px 0;
	font-size: 1.2em;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  padding: 5px 10px;
  color: $gray-med;
  font-size: 1.2em;
  margin: 0 5px;
  &:focus, &:active{
  	outline: none;
  }
}

label{
	color: $blue;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 10px 5px;
}

textarea{
	border: none;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
 	font-size: 1.3em;
 	color: $gray-med;
 	height: 150px;
 	&:active, &:focus{
 		outline: none;
 	}
}

h1{
	 font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: solid 3px $pink;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: $gray-dark;
  margin: 10px 0;
}

%button{
	padding: 10px 40px;
  margin: 20px 0;
  border-radius: 5px;
  font-weight: bold;
	letter-spacing: 1px;
	font-size: 1em;
	text-transform: uppercase;
}

input[type="submit"]{
	@extend %button;
	-webkit-appearance: initial;
  cursor: pointer;
  border: none;
  background: $green;
  color: $white;
	float: right;
	&:active, &:focus{
		outline: none;
	}
	&:hover{
		background: darken($green, 10);
	}
}

.button-gray{
	@extend %button;
	background-color: $gray;
	color: $gray-light;
	float: left;
	&:hover{
		color: $gray_light;
		background: darken($gray, 10);
	}
}

a{
	&:hover{
		text-decoration: none;
	}
}

.message{
  margin: 10px 0;
  border-radius: 5px;
  padding: 5px 10px;
  background: $blue;
	h2{
	  color: $white;
	  margin: 0px;
	  padding: 5px 0;
	  font-size: 1.2em;
	}
	ul{
		color: $gray-dark;
	}
	&.error{
		background: $red;
	}
	&.success{
		background: $green;
	}
}

.navbar-header{
	float: none;
	.navbar-right{
		margin-right: 0px;
	}
}
